*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

#navbar{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  color: black;
}

.hero_section ul {
  list-style: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_section li{
  margin: 30px;
}

div img{
  height: 50px;
  width: 50px;
}

button{
  padding: 10px;
  justify-content: center;
}